[submodule "tests/reference_figures/win32/py3.6/mpl2.0"]
	path = tests/reference_figures/win32/py3.6/mpl2.0
	url = https://github.com/psyplot/psy-maps-references.git
	branch = win32_py3.6_mpl2.0
[submodule "tests/reference_figures/darwin/py3.6/mpl2.0"]
	path = tests/reference_figures/darwin/py3.6/mpl2.0
	url = https://github.com/psyplot/psy-maps-references.git
	branch = darwin_py3.6_mpl2.0
[submodule "tests/reference_figures/linux/py3.6/mpl2.0"]
	path = tests/reference_figures/linux/py3.6/mpl2.0
	url = https://github.com/psyplot/psy-maps-references.git
	branch = linux_py3.6_mpl2.0
[submodule "tests/reference_figures/linux/py3.6/mpl2.1"]
	path = tests/reference_figures/linux/py3.6/mpl2.1
	url = https://github.com/psyplot/psy-maps-references.git
	branch = linux_py3.6_mpl2.1
[submodule "tests/reference_figures/win32/py3.6/mpl2.1"]
	path = tests/reference_figures/win32/py3.6/mpl2.1
	url = https://github.com/psyplot/psy-maps-references.git
	branch = win32_py3.6_mpl2.1
[submodule "tests/reference_figures/darwin/py3.6/mpl2.1"]
	path = tests/reference_figures/darwin/py3.6/mpl2.1
	url = https://github.com/psyplot/psy-maps-references.git
	branch = darwin_py3.6_mpl2.1
[submodule "tests/reference_figures/darwin/py3.6/mpl2.2"]
	path = tests/reference_figures/darwin/py3.6/mpl2.2
	url = https://github.com/psyplot/psy-maps-references.git
	branch = darwin_py3.6_mpl2.2
[submodule "tests/reference_figures/linux/py3.6/mpl2.2"]
	path = tests/reference_figures/linux/py3.6/mpl2.2
	url = https://github.com/psyplot/psy-maps-references.git
	branch = linux_py3.6_mpl2.2
[submodule "tests/reference_figures/win32/py3.6/mpl2.2"]
	path = tests/reference_figures/win32/py3.6/mpl2.2
	url = https://github.com/psyplot/psy-maps-references.git
	branch = win32_py3.6_mpl2.2
[submodule "tests/reference_figures/linux/py3.7/mpl3.0"]
	path = tests/reference_figures/linux/py3.7/mpl3.0
	url = https://github.com/psyplot/psy-maps-references.git
	branch = linux_py3.7_mpl3.0
[submodule "tests/reference_figures/darwin/py3.7/mpl3.0"]
	path = tests/reference_figures/darwin/py3.7/mpl3.0
	url = https://github.com/psyplot/psy-maps-references.git
	branch = darwin_py3.7_mpl3.0
[submodule "tests/reference_figures/win32/py3.7/mpl3.0"]
	path = tests/reference_figures/win32/py3.7/mpl3.0
	url = https://github.com/psyplot/psy-maps-references.git
	branch = win32_py3.7_mpl3.0
[submodule "tests/reference_figures/linux/py3.7/mpl3.1"]
	path = tests/reference_figures/linux/py3.7/mpl3.1
	url = https://github.com/psyplot/psy-maps-references.git
	branch = linux_py3.7_mpl3.1
[submodule "tests/reference_figures/darwin/py3.7/mpl3.1"]
	path = tests/reference_figures/darwin/py3.7/mpl3.1
	url = https://github.com/psyplot/psy-maps-references.git
	branch = darwin_py3.7_mpl3.1
[submodule "tests/reference_figures/win32/py3.7/mpl3.1"]
	path = tests/reference_figures/win32/py3.7/mpl3.1
	url = https://github.com/psyplot/psy-maps-references.git
	branch = win32_py3.7_mpl3.1
[submodule "tests/reference_figures/darwin/py3.8/mpl3.1"]
	path = tests/reference_figures/darwin/py3.8/mpl3.1
	url = https://github.com/psyplot/psy-maps-references.git
	branch = darwin_py3.8_mpl3.1
[submodule "tests/reference_figures/linux/py3.8/mpl3.1"]
	path = tests/reference_figures/linux/py3.8/mpl3.1
	url = https://github.com/psyplot/psy-maps-references.git
	branch = linux_py3.8_mpl3.1
[submodule "tests/reference_figures/win32/py3.8/mpl3.1"]
	path = tests/reference_figures/win32/py3.8/mpl3.1
	url = https://github.com/psyplot/psy-maps-references.git
	branch = win32_py3.8_mpl3.1
[submodule "tests/reference_figures/darwin/py3.7/mpl3.3"]
	path = tests/reference_figures/darwin/py3.7/mpl3.3
	url = https://github.com/psyplot/psy-maps-references.git
	branch = darwin_py3.7_mpl3.3
[submodule "tests/reference_figures/darwin/py3.8/mpl3.3"]
	path = tests/reference_figures/darwin/py3.8/mpl3.3
	url = https://github.com/psyplot/psy-maps-references.git
	branch = darwin_py3.8_mpl3.3
