# Matplotlib
#   https://github.com/matplotlib/matplotlib/blob/master/CHANGELOG
matplotlib==3.3.1  # rq.filter: >=1.4

# xarray
#   https://github.com/pydata/xarray/blob/stable/doc/whats-new.rst
xarray==0.16.0  # rq.filter: >=0.7.0

# cartopy
#   http://scitools.org.uk/cartopy/docs/latest/whats_new.html
cartopy==0.17.0 # rq.filter: >= 0.13
